<div class="pd-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <!--{{keyword}}-->
        <!--<input class="p-1" type="text" [(ngModel)]= "keyword">
        <button (click)="searchProduct()" class="btn btn-outline-success ms-1">
          <i class="bi bi-search"></i>
        </button>-->
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Nom</th> <th>Prenom</th> <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let personne of personnes">
          <td>{{personne.nom}}</td>
          <td>{{personne.prenom}}</td>
          <td>{{personne.email}}</td>
          <td>
            <button (click)="handleDeletePersonne(personne)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button (click)="handleUpdatePersonne(personne)" class="btn btn-warning">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

